
// Variables
$white: rgb(255,255,255);

$site-blue: $primary-color;

$dark_bg: #232323;


@keyframes pop{
	$shake_deg: 5deg;

	0%{
		// transform: scale(1);
		transform: rotate(0deg)
	}
	20%{
		// transform: scale(1.05);
		transform: rotate(-$shake_deg)
	}
	40%{
		// transform: scale(1);
		transform: rotate(0deg)
	}
	80%{
		// transform: scale(1.05);
		transform: rotate($shake_deg)
	}
	100%{
		// transform: scale(1);
		transform: rotate(0deg)
	}
}


// Head Section
.hd{

	&__section{
		@include breakpoint(small only){
			// na
		}
		@include breakpoint(medium up){
			position: relative;
			min-height: 440px;
			height: 40vh;
			background: $dark_bg url("../images/header_bg.png") repeat;
		}
	}

	&__inner{
		@include breakpoint(small only){
			// na
		}
		@include breakpoint(medium up){
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}

	&__img{
		@include breakpoint(small only){
			width: 100%;
			height: auto;
		}
		@include breakpoint(medium up){
			display: block;
			height: 300px;
			width: 300px;
			border-radius: 50%;
			border: 2px solid $white;
			transition: transform .6s;
			animation: pop .6s linear alternate;
		}

	}

	&__about{
		font-weight: 800;

			.man-in-middle{
				@include breakpoint(small only){
					display: block;
					clear: both;
					margin-top: 20px;
					overflow: hidden;

				}
				@include breakpoint(medium up){
					display: inline-block;
					margin: 0 14px;

						&:before{
							content: '/';
						}
				}
			}

			a{
				@include breakpoint(small only){
					display: block;
					width: 100%;
				}
				@include breakpoint(medium up){
					// na
				}
			}

	}
}

// Contact Info
.contact{

	&__section{
		padding: 30px 0;
		background-color: #F5F5F5;
	}

	&__info{
		margin-bottom: 0;
	}

}

// Middle Section
.middle{

	&__section{
		@include breakpoint(small only){
			padding-top: 30px;
		}
		@include breakpoint(medium up){
			padding: 60px 0;
		}
	}

	&__title{
		font-weight: 800;
		text-transform: uppercase;
		color: darken($site-blue, 15%);
	}

}

// About Module
.about{

	&__header{
		@include breakpoint(small only){
			// na
		}
		@include breakpoint(medium up){
			margin-bottom: 80px;
		}
	}

	&__wrapper{
		@include breakpoint(medium down){
			padding: 0 30px;
		}
	}

	&__block{
		position: relative;
		margin-bottom: 30px;
		@include breakpoint(medium down){
			text-align: center;
		}
		@include breakpoint(large up){
			padding: 0 15px 0 30px;
		}

			&--title{
				text-transform: uppercase;
				font-weight: 700;
			}

			.icon{
				@include breakpoint(medium down){
					display: block;
    				margin-top: 10px;
    				margin-bottom: 10px;
				}
				@include breakpoint(large up){
					position: absolute;
					top: 6px;
					left: 0;
				}
			}

			p{
				@include breakpoint(medium down){
					margin: 0;
				}
			}
	}

}

// Footer
.footer{

	&__section{
		color: #F5F5F5;
		background-color: $dark_bg;
	}

	&__info{
		margin-bottom: 0;
		padding: 15px 0;
		font-size: 14px;
	}

}




